<!DOCTYPE HTML>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOILER PLATE</title>
</head>

<body>
    <% include ./partials/navbar %>
    <h1>BOILER PLATE</h1>
    <%-body -%>
    <% include ./partials/footer %>
</body>

</html>